@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button,
.button-light,
.button-dark,
.button-green {
  padding: 8px 34px;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-light {
  background-color: #83b3d3;
}

.button-light:hover,
.button-light:focus,
.button-light:active,
.button-light:disabled,
.button-light:disabled:hover {
  background-color: #68a2ca;
}

.button-light:focus,
.button-green:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}

.button-light:active,
.button-light:disabled,
.button-light:disabled:hover,
.button-dark:active,
.button-dark:disabled,
.button-dark:disabled:hover,
.button-green:active,
.button-green:disabled,
.button-green:disabled:hover {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-light:disabled,
.button-light:disabled:hover,
.button-dark:disabled,
.button-dark:disabled:hover,
.button-green:disabled,
.button-green:disabled:hover {
  outline: none;
  cursor: default;
}

.button-dark {
  background-color: #756257;
}

.button-dark:hover,
.button-dark:focus,
.button-dark:active {
  background-color: #615048;
}

.button-dark:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-dark:active {
  box-shadow: none;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover,
.button-green:focus,
.button-green:active {
  background-color: #6c9e42;
}

/* Start header */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  min-height: 65px;
}

.navigation {
  padding: 0 72px 0 54px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 485px;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  padding: 8px 11px;
  margin: 11px 6px;
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
}

.navigation-link:hover,
.navigation-link:hover path,
.navigation-link:focus,
.navigation-link:focus path {
  color: rgba(117, 98, 87, 1);
  fill: rgba(117, 98, 87, 1);
}

.navigation-link:focus,
.navigation-link:focus path {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.navigation-link:active,
.navigation-link:active path {
  box-shadow: none;
  color: rgba(117, 98, 87, 0.3);
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .count-favorites {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -13px;
  height: 2px;
  background-color: #756257;
}

.logo {
  width: 135px;
  position: relative;
  z-index: 1;
}

.logo-image {
  position: absolute;
  object-fit: cover;
}

.navigation-user {
  max-width: 461px;
  justify-content: flex-end;
  align-items: center;
}

.navigation-user .navigation-link {
  padding: 8px 11px;
  margin: 12px 0;
  min-width: 16px;
  min-height: 20px;
  line-height: 20px;
}

.navigation-icon {
  position: relative;
  top: 2px;
  left: 0;
}

.count-favorites {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 2px;
  right: 0;
  border-radius: 50%;
  background-color: #7db54f;
  overflow: hidden;
  font-size: 10px;
  line-height: 19px;
  font-weight: 400;
  color: #ffffff;
}

.button-navigation-favorites {
  margin: 13px 0 12px 20px;
  font-size: 16px;
  line-height: 21px;
}

/* End header */

.main-container {
  flex-grow: 1;
}

/* Start section welcome */

.welcome-wrapper {
  padding: 50px 0 83px 0;
  text-align: center;
  background-color: #83b3d3;
  background-image: url("../images/divider.svg"), url("../images/mountains-bg-header.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center center;
}

.welcome-image {
  width: 458px;
  margin: 0 auto;
}

.about-wrapper {
  margin: 61px 240px 80px 240px;
  text-align: center;
  line-height: 36px;
}

.about-title {
  margin: 0 0 32px 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-description {
  padding: 0;
  margin: 0;
  font-size: 22px;
}

/* End section welcome */

/* Start section advantages */

.advantages {
  text-align: center;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}

.advantages-inner-item {
  display: flex;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-inner-item-wrap {
  margin: 0;
  padding: 49px 90px 44px 90px;
  width: 400px;
  box-sizing: border-box;
}

.advantages-inner-item .advantages-image {
  max-width: 800px;
  height: auto;
  object-fit: cover;
}

.advantages-item {
  margin: 0;
  padding: 81px 75px 101px 75px;
  box-sizing: border-box;
  width: 400px;
}

.advantages-item:nth-of-type(2),
.advantages-item:nth-of-type(4),
.advantages-item:nth-of-type(6),
.advantages-item:nth-of-type(8) {
  background-color: rgba(131, 179, 211, 0.1);
}

.advantages-item:nth-of-type(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 18px 0 18px 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-count {
  margin: 25px 0 30px 0;
  padding: 0;
}

.advantages-count::after {
  content: " —";
}

.advantages-count::before {
  content: "— ";
}

.advantages-description {
  margin: 0 0 8px 0;
  padding: 0;
}

.advantages-inner-item .advantages-title {
  margin: 48px 24px 29px 24px;
  padding: 0;
  color: #ffffff;
}

.advantages-inner-item .advantages-count {
  margin: 30px 0;
  padding: 0;
}

.advantages-inner-item .advantages-description {
  margin: 0 0 44px 0;
  padding: 0;
}

.advantages-item-icon {
  padding: 167px 75px 82px 75px;
  position: relative;
}

.advantages-item-icon .advantages-title::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 82px;
  top: 82px;
  right: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.advantages-item-icon-home::before {
  background-image: url("../images/home-feature.svg");
}

.advantages-item-icon-humburger::before {
  background-image: url("../images/humburger-feature.svg");
}

.advantages-item-icon-present::before {
  background-image: url("../images/present-feature.svg");
}

/* End section advantages */

/* Start section search */

.search {
  padding: 88px 240px 0 240px;
  text-align: center;
}

.search-title {
  margin: 0 0 32px 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  margin: 0 0 9px 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.button-search-all {
  margin: 50px 0 90px 0;
  padding: 17px 149px;
  border-radius: 10px;
}

/* End section search */

/* Start section newsletter */

.newsletter {
  padding: 93px 70px 0 70px;
  color: #ffffff;
  text-align: center;
  background-color: #83b3d3;
  background-image: url("../images/mountains-bg-newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 0 9px 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  margin: 0 auto;
  padding: 37px 0 94px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
}

.newsletter-form .error {
  box-shadow: inset 0 0 0 2px #ff5757;
  background-color: #ffffff;
}

.newsletter-email {
  margin: 0;
  padding: 17px 22px;
  min-width: 600px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.newsletter-email:hover {
  background-color: #e6e6e6;
}

.newsletter-email:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.newsletter-email:focus:not(:placeholder-shown) {
  outline: none;
  box-shadow: inset 0 0 0 3px #000000;
  background-color: #ffffff;
}

.newsletter-email:disabled {
  outline: none;
  box-shadow: none;
  background-color: #e6e6e6;
}

.button-newsletter-subscribe {
  margin: 0;
  padding: 17px 34px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/* End section newsletter */

/* Start page-footer */

.page-footer {
  margin: 31px 0;
  padding: 0 61px 0 62px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer-social {
  max-width: 230px;
  align-self: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.footer-social-link {
  display: block;
  position: relative;
  min-width: 40px;
  min-height: 40px;
}

.footer-social-link:hover path {
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:focus,
.footer-social-link:focus path {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:active,
.footer-social-link:active path {
  box-shadow: none;
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.footer-contact {
  padding: 2px 0 0 5px;
  width: 400px;
  align-self: center;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-contacts-phone {
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-developer {
  align-self: center;
  flex-wrap: wrap;
}

.footer-developer-link {
  padding: 10px;
  display: block;
  height: 34px;
}

.footer-developer-link:hover path {
  fill: rgba(117, 98, 87, 1);
}

.footer-developer-link:focus,
.footer-developer-link:focus path {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  fill: rgba(117, 98, 87, 1);
}

.footer-developer-link:active,
.footer-developer-link:active path {
  box-shadow: none;
  fill: rgba(117, 98, 87, 0.3);
}

/* End page-footer */

/* Start modal-container */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 73px 70px 68px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 574px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 55px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:active {
  box-shadow: none;
}

.modal-close-button:active path {
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 59px 0;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 157px min-content 153px min-content;
}

.modal-form-label {
  grid-column: 1 / 2;
  padding: 14px 0 0 2px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.modal-form-input-wrap {
  grid-column: 2 / 6;
  margin-bottom: 16px;
}

.modal-form-input {
  margin-bottom: 2px;
  padding: 0 50px 0 19px;
  width: 420px;
  height: 50px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  position: relative;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-image: url("../images/icons/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: 383px 52%;
}

.modal-form-input-text:hover,
.modal-form-input-text:focus {
  background-color: #e6e6e6;
}

.modal-form-input-text:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-form-input-text:focus:not(:placeholder-shown) {
  box-shadow: 0 0 0 2px #000000;
  background-color: #ffffff;
}

.modal-error {
  font-size: 16px;
  color: #ff5757;
  display: none;
}

.modal-success {
  font-size: 16px;
  display: none;
}

.modal-form-massage-error + .modal-error {
  display: inline-block;
}

.modal-form-massage-success + .modal-success {
  display: block;
}

.modal-form-count-wrap {
  position: relative;
}

.modal-form-count-button {
  padding: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.modal-form-count-button:hover path {
  fill: #000000;
}

.modal-form-count-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-form-count-button:active {
  box-shadow: none;
  opacity: 0.2;
}

.modal-form-button-minus {
  padding: 2px;
  width: 13px;
  height: 13px;
  left: 19px;
  z-index: 1;
  box-sizing: content-box;
}

.modal-form-button-plus {
  width: 20px;
  height: 20px;
  right: 16px;
}

.modal-form-input-adult-wrap {
  grid-column: 2 / 3;
}

.modal-form-input-count {
  width: 133px;
  text-align: center;
  padding: 0 50px;
}

.modal-form-field-icon {
  grid-column: 3 / 4;
  justify-self: end;
  padding: 15px 53px 0 0;
  position: relative;
}

.info {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 18px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  cursor: pointer;
}

.info::after {
  content: "i";
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #ffffff;
}

.info:hover {
  background-color: #68a2ca;
}

.info:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}

.info-content {
  position: absolute;
  width: 256px;
  padding: 19px 16px 24px 22px;
  top: 40px;
  left: -115px;
  box-sizing: border-box;
  background-color: #333333;
  border-radius: 10px;
  color: #ffffff;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: none;
}

.info-content::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  top: -9px;
  right: 119px;
  background-image: url("../images/icons/treangle-modal-icon.svg");
  background-repeat: no-repeat;
  display: none;
}

.info-open:hover .info-content,
.info-open:hover .info-content::before {
  display: block;
}

.modal-form-input-child-wrap {
  grid-column: 4 / 5;
}

.modal-form-button {
  grid-column: 1 / -1;
  margin: 39px 0 0 2px;
  padding: 17px 34px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* End modal-container */

/* main-inner */

.inner-header {
  margin-bottom: 43px;
  padding: 38px 72px 64px 66px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/mountains-bg-catalog.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.inner-header-title {
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 16px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  top: 8px;
  right: -10px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:first-child {
  display: block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  padding: 3px;
}

.breadcrumbs-link:first-child svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:hover path {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.breadcrumbs-link[href]:focus,
.breadcrumbs-link[href]:focus path {
  outline: none;
  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link[href]:active,
.breadcrumbs-link[href]:active path {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

/* form */

.inner-filter-form {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  column-gap: 67px;
  padding-left: 6px;
}

.inner-filter-form-group {
  padding: 0;
  margin: 0 0 20px 0;
  border: none;
}

.inner-filter-form-group-costs {
  width: 288px;
  margin-right: 11px;
  justify-self: end;
}

.inner-filter-form-title {
  padding: 0;
  margin: 0 0 31px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.inner-filter-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.inner-filter-item:not(:last-child) {
  padding-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control-mark,
.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  outline: none;
  box-shadow: 0 0 0 3px #68a2ca;
}

.control:active .control-mark,
.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/checkbox-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.control-input[type="radio"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 1);
}

.range {
  display: flex;
  flex-direction: column;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 28px;
  margin-top: 4px;
}

.inner-filter-label {
  position: relative;
  overflow: hidden;
}

.range-input {
  position: relative;
  width: 82px;
  padding: 12px 30px;
  padding-right: 42px;
  padding-left: 16px;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  appearance: textfield;
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.inner-filter-label:nth-of-type(1) .range-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inner-filter-label:nth-of-type(2) .range-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left-width: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  border-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2;
}

.range-input:active {
  box-shadow: none;
  background-color: #756257;
}

.range-input-text {
  position: absolute;
  right: 14px;
  top: 47%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 3px #68a2ca;
}

.range-toggle:active {
  box-shadow: 0 0 0 2px #68a2ca;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.inner-form-button-wrap {
  align-self: end;
  margin-bottom: 15px;

  text-align: center;
}

.inner-filter-form-apply {
  font-size: 16px;
  line-height: 21px;
  padding: 13px 35px;
  cursor: pointer;
}

.inner-filter-form-apply:focus {
  box-shadow: 0 0 0 3px #ffffff;
}

.inner-filter-form-apply:active {
  box-shadow: none;
}

.inner-filter-form-reset {
  margin-top: 15px;
  padding: 5px 20px;
  font: inherit;
  line-height: 23px;
  color: #ffffff;
  text-transform: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.inner-filter-form-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.inner-filter-form-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.inner-filter-form-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* catalog */

.catalog {
  padding: 0 72px;
}

.catalog-navigation-wrap {
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-title {
  min-width: 529px;
  margin: 0 0 8px 0;
  padding: 0;
  align-self: center;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  position: relative;
  width: 287px;
}

.select-control {
  width: 100%;
  padding: 10px 48px 10px 14px;
  font: inherit;
  line-height: 23px;
  background-color: #ffffff;
  background-image: url("../images/icons/dropdown-icon.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  outline: none;
  border-color: #83b3d3;
}

.select-control:active {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.catalog-sorting-wrap {
  max-width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
}

.catalog-sorting-toggle {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.catalog-sorting-table {
  background-image: url("../images/icons/mode-tile-icon.svg");
}

.catalog-sorting-card {
  background-image: url("../images/icons/mode-slideshow-icon.svg");
}

.catalog-sorting-list {
  background-image: url("../images/icons/mode-list-icon.svg");
}

.catalog-sorting-toggle-currient {
  border-color: #000000;
}

.catalog-sorting-toggle:not(:last-child) {
  margin-right: 7px;
}

.catalog-sorting-toggle:not(.catalog-sorting-toggle-currient):hover,
.catalog-sorting-toggle:not(.catalog-sorting-toggle-currient):focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.catalog-sorting-toggle:focus {
  outline: none;
}

/* Product */

.product-card-list {
  margin: 0 0 60px 0;
  padding: 0;

  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 27px;
  position: relative;
  font-size: 18px;
  line-height: 23px;
}

.product-card:not(:last-child) {
  margin-bottom: 61px;
}

.product-card::before {
  content: "";
  position: absolute;
  top: -31px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
}

.product-card-image-link {
  outline: none;
}

.product-card-image-link:hover {
  opacity: 0.6;
}

.product-card-image-link:not(:hover):focus {
  opacity: 1;
  box-shadow: 0 0 0 3px #83b3d3;
}

.product-card-image-link:active {
  opacity: 0.3;
  box-shadow: none;
}

.product-card-image {
  max-width: 180px;
  height: auto;
  object-fit: cover;
}

.product-card-content-wrap {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: min-content auto auto;
  column-gap: 8px;
}

.product-card-title-link {
  padding: 0 0 4px 0;

  text-decoration: none;
  color: #000000;
  outline: none;
}

.product-card-title {
  margin: 0 0 4px 10px;
  padding: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.product-card-title-link:hover,
.product-card-title-link:focus {
  color: #756257;
}

.product-card-title-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.product-card-title-link:active {
  box-shadow: none;
  color: rgba(117, 98, 87, 0.3);
}

.product-card-type {
  padding-left: 10px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.product-card-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.product-card-button {
  padding: 8px 32px;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.product-card-button-more {
  margin-left: 9px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: start;
  background-color: rgba(117, 98, 87, 1);
}

.product-card-button-favorites {
  min-width: 163px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: start;
}

.product-card-button-in-favorites {
  background-color: #7db54f;
}

.rating {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  align-self: start;
  justify-self: center;
  min-width: 20px;
  min-height: 21px;
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: space repeat;
  background-position: center;
  background-size: auto auto;
}

.product-card:nth-of-type(1) .rating {
  width: 93px;
}

.product-card:nth-of-type(2) .rating {
  width: 70px;
}

.product-card:nth-of-type(3) .rating {
  width: 45px;
}

.product-card:nth-of-type(4) .rating {
  width: 45px;
}

.product-card-button-rating {
  padding: 8px 33px;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  align-self: end;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.catalog-all-button-wrap {
  margin: 0 0 60px 0;
  padding: 0;
  text-align: center;
  position: relative;
}

.catalog-all-button-wrap::before {
  content: "";
  position: absolute;
  top: -31px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
}

.catalog-all-button-wrap::after {
  content: "";
  position: absolute;
  bottom: -31px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
}

.catalog-all-button {
  padding: 15px 240px;
  cursor: pointer;
}

/* Pagination */

.pagination-wrap {
  display: flex;
  align-items: center;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}

.pagination-item {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 15px 10px;
  height: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #83b3d3;
}

.pagination-link:not(.pagination-current):hover,
.pagination-link:not(.pagination-current):focus {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-current):focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}

.pagination-link:not(.pagination-current):active {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.catalog-form-count {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.select-count {
  width: 385px;
}

.catalog-form-count-title {
  font-size: 18px;
  line-height: 23px;
  min-width: 225px;
}

.newsletter-inner {
  padding-top: 80px;
  color: #000000;
  text-align: center;
  background-image: none;
  background-color: #ffffff;
}

.newsletter-form-inner {
  padding-bottom: 139px;
}

.popover {
  position: absolute;
  top: 62px;
  right: -180px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font: inherit;
  color: inherit;
  background-color: #ffffff;
  min-height: 60px;
  border-radius: 20px;
  display: none;
}

.popover-open:hover .popover {
  display: block;
}

.popover::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 9px;
  top: -8px;
  left: 187px;
  background-image: url("../images/icons/treangle-icon.svg");
  background-repeat: no-repeat;
}

.popover-content {
  height: 100%;
  padding: 19px 15px 21px 14px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.popover-button {
  padding: 20px 0;
  width: 100%;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.popover-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.popover-button:active {
  box-shadow: none;
}

.favorites-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.favorites-item {
  display: grid;
  grid-template-columns: auto min-content;
}

.favorites-item:not(:last-child) {
  margin-bottom: 15px;
}

.favorites-item-content {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 17px;
  padding: 5px 10px;
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
}

.favorites-item-content:hover {
  opacity: 0.6;
}

.favorites-item-content:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.favorites-item-content:active {
  opacity: 0.3;
  box-shadow: none;
}

.favorites-item-img {
  border-radius: 50%;
  object-fit: cover;
}

.favorites-item-title,
.favorites-item-type {
  padding: 0;
  margin: 0;
}

.favorites-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.favorites-item-type {
  font-size: 16px;
  line-height: 14px;
  color: #333333;
}

.favorites-item-button {
  margin: 6px 0 0 0;
  padding: 4px 7px;
  grid-column: 2 / 3;
  align-self: start;
  justify-self: start;

  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
}

.favorites-item-button:hover path,
.favorites-item-button:focus path {
  fill: #000000;
}

.favorites-item-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.favorites-item-button:active {
  box-shadow: none;
  opacity: 0.1;
}
